:root,
body {
  display: grid;
  place-items: center;

  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
}

.flex-cont {
  display: flex;
  justify-content: center;
  gap: 0.2rem;

  padding-inline: 0.2rem;
  box-sizing: border-box;

  width: 100%;
}

.lizzy {
  position: relative;

  width: 80%;
  max-width: 30rem;
  aspect-ratio: 1/1;
}

.lizzy-eyes,
.lizzy-face {
  position: absolute;

  width: 100%;
  height: 100%;
}

.button {
  cursor: pointer;

  font-size: 2rem;
  padding: 4rem 2rem;

  width: 100%;

  border-radius: 0.2rem;
  border: 0rem;
  outline: none;

  text-transform: uppercase;
}

.bad {
  background-color: #f58f8f;
  color: #4d1818;
}

.good {
  background-color: #d3eed3;
  color: #162930;
}
