
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    color: #333;
  }

h3 {
    color: #6c757d;
    text-align: center;
  }

h2 {
    color: #343a40;
    text-align: center;
  }

h4 {
    color: #fcba03;
    text-align: center;
  }

h1 {
    color: #343a40;
    text-align: center;
  }

.custom-paragraph {
    color: rgb(220,20,60); /* Text color in RGB format */
    font-size: 20px; /* Font size in pixels */
  }

@keyframes WEEEEEEEEEE {
	from {
		rotate: 0;
		transform: scale(1);
	}

	50% {
		transform: scale(1.5);
	}

	to {
		rotate: 360deg;
		transform: scale(0.5);
	}
}

@keyframes caaaaaaaaaaaaalm {
	from {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	to {
		transform: scale(1);
	}
}

.shooooooooooooooooooooort {
	display: flex;
	width: 100%;
	justify-content: center;
}

.looooooooooooooooooooong {
	width: 10rem;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	border-radius: 1rem;
	overflow: hidden;

	animation: caaaaaaaaaaaaalm 1s linear infinite;

	transition: scale 50ms ease-in-out;
}

.looooooooooooooooooooong:hover {
	scale: 1.1;
	animation: WEEEEEEEEEE 300ms linear infinite;
	
	transition: scale 100ms ease-in-out;
}

.looooooooooooooooooooong:active {
	scale: 0.2;
}


.wiiiiiiiiiiiiiiiiiide {
	width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 5px;
}

.grid-item {
  border: 1px solid #ccc;
  padding: 5px;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

