/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  header {
    background-color: #343a40;
    padding: 1em;
    text-align: center;
    color: #ffffff;
  }
  
  h1 {
    color: #007bff;
    text-align: center;
    margin-top: 30px;
  }
  
  p {
    text-align: center;
  }
  
  a {
    color: #28a745;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .fancy {
    background-color: #ffffff;
    padding: 15px;
    margin: 10px;
    text-align: center;
    font-size: 1.2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  
  h3 {
    color: #6c757d;
    text-align: center;
  }
  
  h2 {
    color: #343a40;
    text-align: center;
  }
  h4 {
    color: #f5da42;
    text-align: center;
  }
  
  .color-change {
    color: rgb(0, 0, 128);
  }
  
  .color-change:hover {
    color: rgb(128, 0, 128);
  }
  
  .custom-paragraph {
    background-color: DodgerBlue;
    padding: 15px;
    border-radius: 10px;
    color: white;
  }
  
  .border-box {
    width: 200px;
    height: 100px;
    border: 1px solid black;
    background-color: LightGray;
    border-radius: 10px;
  }
  
  .shooooooooooooooooooooort {
    text-align: center;
  }
  
  .looooooooooooooooooooong {
    background-color: #28a745;
    color: #ffffff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  /* Add more styles as needed */
  


@keyframes WEEEEEEEEEE {
	from {
		rotate: 0;
		transform: scale(1);
	}

	50% {
		transform: scale(1.5);
	}

	to {
		rotate: 360deg;
		transform: scale(0.5);
	}
}

@keyframes caaaaaaaaaaaaalm {
	from {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	to {
		transform: scale(1);
	}
}

.shooooooooooooooooooooort {
	display: flex;
	width: 100%;
	justify-content: center;
}

.looooooooooooooooooooong {
	width: 10rem;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	border-radius: 1rem;
	overflow: hidden;

	animation: caaaaaaaaaaaaalm 1s linear infinite;

	transition: scale 50ms ease-in-out;
}

.looooooooooooooooooooong:hover {
	scale: 1.1;
	animation: WEEEEEEEEEE 300ms linear infinite;
	
	transition: scale 100ms ease-in-out;
}

.looooooooooooooooooooong:active {
	scale: 0.2;
}


.wiiiiiiiiiiiiiiiiiide {
	width: 100%;
}


  
  .rainbowfancy {
	background: linear-gradient(to right, #ff3366, #ff9933, #33cc33, #3399ff, #cc66ff);
	color: #fff;
	padding: 10px;
	margin: 10px 0;
	border-radius: 5px;
  }
