body {
      font-family: 'Arial', sans-serif;
      background-color: #f8f8f8;
      margin: 0;
      padding: 0;
      color: #333;
    }

h3 {
      color: #6c757d;
      text-align: center;
    }

h2 {
      color: #343a40;
      text-align: center;
    }

h4 {
      color: #fcba03;
      text-align: center;
    }

h1 {
      color: #343a40;
      text-align: center;
    }
