body {
    font-family:  Arial, sans-serif;
    background-image: url('assets/Grey\ and\ White\ Coffee\ Desktop\ Wallpaper.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.title
{
    text-shadow: 2px 2px 2px darkviolet;
}

.main
{
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 20px;
}

.form-area
{
    flex: auto;
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 20px;
    border-radius: 15px;
    background-color:darkviolet;
}

.submit-button
{
    margin: 10px;
    padding: 5px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: mediumorchid;
    border-radius: 15px;
    box-shadow: 2px  2px 6px rgba(0, 0, 0, 0.3);
    transition: all .2s ease-in-out;
    font-size: large;
    width: 450px;
    &:hover
    {
        transform: scale(1.02);
    }
}

.input{
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    font-size: 20px;
    height: 40px;
    width: 450px;
    margin: 10px;
    padding: 5px;
    border: 3px solid mediumorchid;
    border-radius: 15px;
}

#input-number
{
    border: 2px mediumorchid;
    border-radius: 10px;
    outline: none;
    scale:  1.05;
    transition: all .2s ease-in-out;
    &::placeholder
    {
        color: lightgray;
    }
    &:focus
    {
        transform: scale(0.98);
    }
    
}

.from-base{
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    width: 450px;
    height: 40px;
    margin: 10px;
    padding: 5px;
    border: 2px solid mediumorchid;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    font-size: 20px;
}

.to-base{
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    width: 450px;
    height: 40px;
    margin: 10px;
    padding: 5px;
    border: 2px solid mediumorchid;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    font-size: 20px;
    
}

#from-base
{
    border: 2px mediumorchid;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
}

#to-base
{
    border: 2px mediumorchid;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;    
}

#output{
    width: 450px;
    height: 40px;
    margin: 10px;
    padding: 5px;
    border: 2px solid mediumorchid;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    font-size: 20px;
}

/* phones/tablets */
@media screen and (max-width: 768px) {
    .main
    {
        flex: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        padding: 20px;
    }
    
    .form-area
    {
        width: 350px;
    }
    
    .submit-button
    {
        width: 340px;
    }
    
    .input
    {
        width: 320px;
    }
    
    .from-base
    {
        width: 340px;
    }
    
    .to-base
    {
        width: 340px;
        
    }
    
    #output
    {
        width: 340px;
    }
}
/* phones/tablets */
@media screen and (max-width: 430px) {
    .main
    {
        flex: content;
        display:grid;
    }
    
    .form-area
    {
        width: 300px;
    }
    
    .submit-button
    {
        width: 280px;
    }
    
    .input
    {
        width: 265px;
    }
    
    .from-base
    {
        width: 280px;
    }
    
    .to-base
    {
        width: 280px;
        
    }
    
    #output
    {
        width: 280px;
    }
    
}