<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Hello, world!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="../../../../public/output.css" />
</head>

<body class="bg-red-500">
    <div  class=" text-center bg-red-500 mx-auto  flex max-w-7xl px-4 sm:px-6 lg:px-8">
        <div id="apps_container" class="border border-red-600 mx-auto flex max-w-3xl flex-row">
        <div id="internet" class="m-5 bg-red-300 transform h-64 w-80 transition duration-500 hover:scale-125 ">
            <img src="internet.svg"/>
        </div>
    </div>
    </div>
</body>
<!-- <script src="appsbar.js"></script> -->

</html>
