/*
Guidelines for writing CSS code
https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Organizing#does_your_project_have_a_coding_style_guide
*/

/* GENERAL STYLES */



a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 15px;
}




/* GENERAL STYLES END */


/* UTILITIES */
  
  
.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 55px;
}


p.fancy-text {
  margin: 20px 0;
  font-size: 1.2em;
  justify-content: center;
}

.main-image {
  border: 5px solid #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  align-items: center;
}

/* UTILITIES END */
  
  #week-link-id {
    display: inline-block;
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 100%;
  
  }
  
  
  
  a:hover {
  
    color: #0000ff;
  }
  
  .rainbow {
    background: linear-gradient(to right, #ff7e5f, #feb47b, #fcde90);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  
  }
  
  .rainbowfancy {
    background: linear-gradient(to right, #fd5d93, #fc7842);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  
  .mininos {
  
    background: linear-gradient(to right, #3c30a2, #695fd7, #070783);
  
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  
  
  
  .fancy {
    background: linear-gradient(to right, rgb(12, 169, 212), #0072ff);
  
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }