body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #3494e6, #ec6ead);
  color: #fff;
}

header {
  background: linear-gradient(to right, #1a1a1a, #262626);
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-in-site {
  border: 3px solid #fff;
  border-radius: 50%;
  padding: 10px;
  height: 80px;
}

h1 {
  margin-left: 20px;
  color: #fff;
}

p.fancy-text {
  margin: 20px 0;
  font-size: 1.2em;
  justify-content: center;
}

.main-image {
  border: 5px solid #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

.week-link {
    display: inline-block;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #ffd700;
}

.rainbowfancy {
    background: linear-gradient(to right, #fd5d93, #fc7842);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.mininos {
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.fancy {
    background: linear-gradient(to right, #00c6ff, #0072ff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 2 / 3;
  grid-row: 1;
  margin: auto;
}
.two {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.three {
  grid-column: 1;
  grid-row: 2 / 5;
}