/* SITEWIDE */
@font-face {
  font-family: "MOBI";
  src: url("SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
}

/* GENERAL STYLES */

body {
  font-family: MOBI;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #3494e6, #ec6ead);
  color: #fff;
  text-align: center;
}

div {
  margin-top: 30px;
  font-family: MOBI;
}

/* UTILIES */

.wrapper {
  min-height: var(--wrapper-height);
  place-items: center;
  margin: 3rem 2rem 0;
}
.content {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  margin: 0 auto;
}

.logo {
  border: 3px solid #fff;
  border-radius: 50%;
  padding: 10px;
  height: 20%;
  width: 20%;
  place-items: center;
  margin-top: 2rem;
}

.ellipse {
  border: 3px solid #fff;
  border-radius: 50%;
  padding: 10px;
  height: 20%;
  width: 20%;
  place-items: center;
}

.bio-container {
  background: white;
  padding: 0.5rem;
  /*   border-radius: 1rem; */
  transform: rotate(5deg);
  border: 1px solid black;
  color: black;
}

.discord-container {
  background: violet;
  padding: 0.5rem;
  border: 1px solid black;
  color: black;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1em;
  height: 2em;
  line-height: 2em;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.io-container {
  background: white;
  padding: 0.5rem;
  /*   border-radius: 1rem; */
  border: 1px solid black;
  color: black;
  margin-bottom: 5rem;
}

.io-container img {
  max-width: 10%;
  height: auto;
}

.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  text-align: center;
}

header {
  background: linear-gradient(to right, #1a1a1a, #262626);
  color: #fff;
  text-align: center;
  margin-top: -30px;
  padding: 1.5em 0;
  border-radius: 15px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to right, #1a1a1a, #262626);
  color: white;
  text-align: center;
}

.navi {
  text-decoration: none;
  color: white;
  display: inline;
  margin: 1%;
}
