@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap";

html {
    height: 100vh;
    width: 100vw;
}

body {
    font-family: montserrat;
    font-size: 1rem;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("res/paper-background.jpg");
    background-repeat: repeat;
}

#currentGame {
    background-color: black;
    position: absolute;
    width: 80vw;
    height: 70vh;
    margin: 0;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(12, 12, 12, 0.8);
    border: white;
    border-width: 2px;
    border-style: dashed;
    max-width: 60rem;
    min-height: 30rem;
}

#gameContent {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
}

#canvasWrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.playerWin {
    background-image: linear-gradient(#000000, #000000, #80ff7280);
}

.computerWin {
    background-image: linear-gradient(#f2575780, #000000, #000000);
}

.neutralWin {
    background-color: black;
}

#scoreBar {
    width: 10rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
    margin-left: 0;
}

#scoreBar p {
    margin: 0;
    font-size: 2rem;
    color: white;
    text-align: center;
}

#scoreBar div {
    flex: 1;
    box-shadow: inset 0 0 20px #00000080;
}

#playSpace {
    flex: 1;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    border: white;
    border-width: 2px;
    border-style: dashed;
}

#playSpace * {
    color: white;
    width: 100%;
    text-align: center;
}

#computerIcon {
    display: block;
    transform: rotate(180deg);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: auto;
    width: 8rem;
    max-width: 18vh;
}

#playerIcon {
    align-self: flex-end;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    width: 8rem;
    max-width: 18vh;
}

#controls {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
}

#controls button {
    margin: 0;
    height: 6rem;
    flex: 1;
    border-radius: 0;
    background-color: rgb(40, 40, 40);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

#controls button:hover {
    background-color: rgb(53, 53, 53);
}

#controls button:active {
    box-shadow: inset 0 0 10px black;
    background-color: rgb(30, 30, 30);
    transition-duration: 10ms;
}

#footerWrapper {
    padding: 0;
    backdrop-filter: blur(10px);
    color: white;
    display: flex;
    flex-direction: row;
}

#footerWrapper * {
    padding: 0;
    margin: 0;
}

#message {
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    flex: 1;
}

#newGameButton {
    width: 25vw;
    height: 100%;
    background-color: rgb(40, 40, 40);
    border: none;
    color: white;
    font-family: montserrat;
    transition: background-color 0.3s;
    cursor: pointer;
    font-size: 1rem;
}

#newGameButton:hover {
    background-color: rgb(53, 53, 53);
}