body {
  font-family: Helvetica, sans-serif, Arial;
  margin: 0;
  padding: 0;
  background-color: #fdee6c;
  height: 100%;
  width: 100%;
}

.heading {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.minion-logo {
  width: 100px;
  height: auto;
}

header {
  background-color: #3498db;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #fff;
}

.minion-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  text-align: center;
}

footer {
  background-color: #3498db;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #fff;
}

.to-do-list {
  background-color: white;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 3px solid #1e7cbb;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.to-do-list:hover {
  transform: scale(1.1);
}
