body {
    background-color: black;
}

h1 {
    color: white;
}

.square1 {
    position: absolute;
    left: 20px;
    width: 10%;
    height: 10%;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    rotate: 45deg;
}

.square2 {
    position: absolute;
    left: 70px;
    width: 10%;
    height: 10%;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    rotate: 45deg;
}