body {
    background-color: black;
}

.image-main {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:20%;
    height:60%;
    border-style: solid;
    border-width: thick;
    border-color: white;
}

h1 {
    text-align: center;
    color: white;
}

p {
    text-align: center;
    color: white;
}

.link-main {
    text-align: center;
}

.audio-main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

a:link, a:visited {
    background-color: black;
    border-style: solid;
    border-color: white;
    border-width: medium;
    color: white;
    padding: 15px 25px;
    text-align: center;
    background-color: transparent;
    text-decoration: none;
    display: inline-block;
}
a:hover {
    color:white;
    background-color: gray;
    text-decoration: underline;
}
a:active {
    color: brown;
    background-color: white;
    text-decoration: underline;
}