body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2a1a27;
  }
  
.header-content {
    background-color: #242424;
    color: #fff;
    padding: 20px;
    text-align: center;
}
  
h1 {

    margin: 0;
}
  
.events-heading {
    color: white;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}
  
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}
  
.event {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.event h2 {
    color: #333;
    font-size: 20px;
}
  
.event p {
    color: #666;
    margin-bottom: 10px;
}
  
a {
    color: #007bff;
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}
  