body {
    font-family:  Arial, sans-serif;
    background-color:rebeccapurple;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: azure;
    flex: auto;
    display: flex;
    flex-direction: column;
}

.donut-container
{
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 20px;
}
