body {
   font-family: "Poppins", sans-serif;
   margin: 0;
   background-color: rgb(39, 39, 39);
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   flex-wrap: wrap;
   width: 80vw;
   margin: 0 auto;
   min-height: 100vh;
}
.btn {
   flex: 1 1 auto;
   margin: 10px;
   padding: 30px;
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;
   box-shadow: 0 0 20px black;
   border-radius: 10px;
}

.btn:hover {
   background-position: right center;
}

.btn-1 {
   background-image: linear-gradient(
      to right,
      #f6d365 0%,
      #fda085 51%,
      #f6d365 100%
   );
}
