h1 {
    color:white;
}

body{
    background-color: black;
}

.rotating-box {
    width: 100px;
    height: 100px;
    margin: 100px auto;
}

.single-rb {
    animation: rotate 5s linear infinite;
}


.single-rb div {
    width: 100px;
    height: 100px;
    background-color: grey;
    box-shadow: inset 0px 0px 70px green;
    border: 1px solid black;
}


@keyframes rotate {
    0%{
        transform: rotateX(0deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(360deg) rotateY(360deg);
    }
}